database/*
!database/.gitkeep

public/wordpress/

public/wp-content/mu-plugins/*/
public/wp-content/plugins/*
!public/wp-content/plugins/.gitkeep
public/wp-content/themes/*
!public/wp-content/themes/.gitkeep
public/wp-content/uploads/*
!public/wp-content/uploads/.gitkeep
public/wp-content/db.php

*.log

vendor/